select.button {
    appearance: none;
}

select.button,
button.button {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    font-weight: 500;
    white-space: nowrap;

    // Style

    &.primary {
        background: var(--black);
        color: var(--white);

        &:hover {
            // @todo
        }
    }


    &.secondary {
        background: var(--white);
        color: var(--black);

        &:hover {
            // @todo
        }
    }

    &.tertiary {
        background: var(--grey-100);
        color: var(--grey-400);

        &:hover {
            // @todo
        }
    }

    // Size
    
    &.small {
        padding: var(--size-8) var(--size-12);
        border-radius: var(--size-20);
        line-height: var(--size-20);
        font-size: var(--size-12);
    }


    &.medium {
        padding: var(--size-16) var(--size-20);
        border-radius: var(--size-24);
        line-height: var(--size-12);
        font-size: var(--size-12);
    }

    // Elevation

    &.floating {
        box-shadow: var(--elevation-small);
    }

    
}

.button_icon {
    // Style

    &.secondary {
        background: var(--white);
        
        .icon {
            color: var(--grey-300);
        }

        &:hover {
            // @todo
        }
    }
    
    // Size
    
    &.small {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--size-32);
        height: var(--size-32);
        border-radius: 100%;

        .icon {
            width: var(--size-16);
            height: var(--size-16);
        }
    }
}

.button_color {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--size-8);
    padding: var(--size-4);
    border-radius: var(--radius-small);

    &:hover {
        background: var(--grey-100);
    }

    input[type=color] {
        appearance: none;
        width: var(--size-40);
        height: var(--size-40);
        padding: 0;
        border: solid 1px var(--grey-500);
        border-radius: var(--radius-small);
    }

    .label {
        flex: auto;
    }

        .title {
            display: block;
            font-size: var(--size-12);
            font-weight: 500;
        }

        .value {
            display: block;
            font-size: var(--size-12);
        }
}