select.button {
    appearance: none;
}

select.button,
button.button {
    cursor: pointer;
}

.button,
.button_icon {
    // Style

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
    }

    &.super-disabled {
        display: none;
    }

    &.primary {
        background: var(--black);
        color: var(--white);

        .icon {
            fill: currentColor;
        }

        &:hover {
            // @todo
        }
    }


    &.secondary {
        background: var(--white);
        color: var(--black);

        .icon {
            fill: currentColor;
        }

        &:hover {
            // @todo
        }
    }

    &.tertiary {
        background: var(--grey-100);
        color: var(--grey-400);

        .icon {
            fill: currentColor;
        }

        &:hover {
            // @todo
        }
    }

    &.ghost {
        color: var(--grey-300);

        .icon {
            fill: currentColor;
        }

        &:hover {
            // @todo
        }
    }

    &.error {
        position: relative;
        border: solid toRem(2) var(--orange);
        
        .icon_wrap {
            position: absolute;
            inset: -(toRem(8)) (-(toRem(8))) auto auto;
            width: toRem(24);
            height: toRem(24);
            border-radius: toRem(24);
            background: var(--white);

            .icon {

                fill: var(--orange);
            }
        }
    }

     // Elevation

     &.floating {
        box-shadow: var(--elevation-small);
    }
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;

    // Size
    
    &.small {
        padding: toRem(8) toRem(12);
        border-radius: toRem(20);
        line-height: toRem(20);
        font-size: toRem(12);
        gap: toRem(4);
    }


    &.medium {
        padding: toRem(16) toRem(20);
        border-radius: toRem(24);
        line-height: toRem(12);
        font-size: toRem(12);
        gap: toRem(4);

        .icon {
            width: toRem(16);
            height: toRem(16);
        }
    }

    &.large {
        padding: toRem(6) toRem(20);
        border-radius: toRem(8);
        line-height: toRem(52);
        font-size: toRem(12);
        gap: toRem(8);

        .icon {
            width: toRem(20);
            height: toRem(20);
        }
    }

    &.expand {
        width: 100%;
    }
}


.button_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    
    // Size
    
    &.small {
        width: toRem(24);
        height: toRem(24);
        border-radius: 100%;

        .icon {
            width: toRem(20);
            height: toRem(20);
        }
    }

    &.medium {
        width: toRem(32);
        height: toRem(32);
        border-radius: 100%;

        .icon {
            width: toRem(20);
            height: toRem(20);
        }
    }

    &.large {
        width: toRem(40);
        height: toRem(40);
        border-radius: 100%;

        .icon {
            width: toRem(20);
            height: toRem(20);
        }
    }
}

.button_color {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: toRem(8);
    padding: toRem(4);
    border-radius: var(--radius-small);

    &:hover {
        background: var(--grey-100);
    }

    --bg-color: transparent;

    background-color: var(--bg-color);

    input[type=color] {
        appearance: none;
        width: toRem(40);
        height: toRem(40);
        padding: 0;
        border: solid toRem(1) var(--grey-500);
        border-radius: var(--radius-small);
    }

    .label {
        flex: auto;
    }

        .title {
            display: block;
            font-size: toRem(12);
            font-weight: 500;
        }

        .value {
            display: block;
            font-size: toRem(12);
        }
}