.form {
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-item {
        padding: toRem(16) toRem(24);
    }
}

.form_block {
    &-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: toRem(16);
    
        .title {
            color: var(--black);
            font-family: var(--font-medium);
        }

        .detail {
            font-size: toRem(14);
        }

        .threshold {
            transition: transform .2s ease;
            
            &:hover {
                transform: rotate(-90deg);
            }
        }
    }
    

    &-body {  }

    &-foot {
        display: flex;
        gap: toRem(8);
        padding: toRem(16) 0;

        .button {
            flex: auto;
        }
    }
}

.inputs {
    &-list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: toRem(16) toRem(8);
    }

    &-item {
        flex: 1;
    
        &.expand {
            flex: 0 0 100%;
        }
    }

        &-label {
            display: flex;
            align-items: center;
            gap: toRem(8);

            .icon {
                width: toRem(20);
                height: toRem(20);
                fill: var(--grey-300);
            }

            .input_text {
                width: 100%;
            }
        }

        &-feedback {
            display: flex;
            gap: toRem(12);
            align-items: center;
            margin-top: toRem(16);
            padding: toRem(12) toRem(16);
            border: solid toRem(1) var(--grey-100);
            color: var(--grey-300);
            font-size: toRem(12);
            line-height: toRem(16);
            text-align: center;

            .label {
                flex: auto;
            }
        }
}

.export_form {
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        &-item {
            margin-top: toRem(16);
            
            .label {
                display: block;
                margin-bottom: toRem(12);
                color: var(--black);
                font-family: var(--font-medium);
                font-size: toRem(16);
            }
        }
}