.form {
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-item {
        padding: var(--size-16) var(--size-24);
    }
}

.form_block {
    &-head {
        display: flex;
        justify-content: space-between;
        
        .label {
            margin-bottom: var(--size-16);
        }
    
            .title {
                color: var(--black);
                font-weight: 500;
            }
    
            .detail {
                font-size: var(--size-14);
            }
    }
    

    &-body {
        .warning {
            margin-top: 8px;
            font-size: var(--size-12);
            font-weight: 500;
            color: var(--grey-300);
        }
    }
}