.input_tiles {
    padding: toRem(12);
    border: solid toRem(1) var(--grey-300);
    
    .track {
        position: relative;
        height: toRem(32);
        background: var(--grey-100);
        border-radius: var(--radius-small);
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: toRem(1);
        background-image: linear-gradient(90deg, var(--grey-300), var(--grey-300) 15%, transparent 15%, transparent 100%);
        background-size: toRem(8) toRem(1);
    }
    }
        
        .knot {
            position: absolute;
            top: -4px;
            width: toRem(16);
            bottom: -4px;
            background: var(--white);
            border: solid toRem(2) var(--white);
            border-radius: toRem(4);
            box-shadow: 0 0 0 toRem(1) var(--grey-500);
            cursor: grab;
        }
    
    .legend {
        display: flex;
        padding-top: toRem(8);
        justify-content: space-between;
        font-size: toRem(12);
    }
}