.input_file {
    border: solid toRem(1) transparent;
    cursor: pointer;
    
    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        display: flex;
        gap: toRem(12);
        padding: toRem(8) toRem(4);
        align-items: center;
    }

    .label {
        font-size: toRem(14);
    }

    &:hover {
        border-color: var(--grey-100);
    }

&-warning {
    margin-top: toRem(8);
    font-size: toRem(12);
    font-weight: 500;
    color: var(--grey-300);
}
}