.input_threshold {
    position: relative;
    padding: toRem(2);

    &::before {
        content: '';
        display: block;
        height: toRem(32);
        background: var(--black);
        background: linear-gradient(90deg, var(--black) 0%, var(--white) 100%);
        border: solid toRem(1) var(--grey-300);
        border-radius: toRem(4);
        opacity: .9;
    }
    
    .knot {
        position: absolute;
        top: -(toRem(4));
        width: toRem(16);
        bottom: -(toRem(4));
        border: solid toRem(2) var(--white);
        border-radius: toRem(4);
        box-shadow: 0 0 0 toRem(1) var(--grey-500);
        cursor: grab;

        &.grabbing {
            cursor: grabbing;
        }
    }
}