.input_file {
    border: solid toRem(1) transparent;
    border-radius: var(--radius-medium);
    transition: all .3s ease;
    cursor: pointer;
    
    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label {
        display: flex;
        gap: toRem(12);
        padding: toRem(8) 0;
        align-items: center;
        transition: all .3s ease;
    }

    .label {
        font-size: toRem(14);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        border-color: var(--grey-100);
        
        label {
            padding: toRem(8) toRem(4);
        }
    }

&-warning {
    margin-top: toRem(8);
    font-size: toRem(12);
    font-weight: 500;
    color: var(--grey-300);
}
}