.modal {
    position: absolute;
    inset: 0;
    z-index: var(--z-modals);
    
    &:not(.active) {
        display: none;
    }
    
    &-card {
        position: absolute;
        width: 75%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: var(--z-panels);
        min-width: toRem(284);
        max-width: toRem(384);
        background: var(--white);
        border: solid toRem(1) var(--grey-300);
        border-radius: var(--radius-medium);
        box-shadow: var(--elevation-small);
        z-index: 2;
    }

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: toRem(2);
            cursor: grab;

            .drag {
                pointer-events: none;
            }

            .title {
                flex: auto;
                padding: toRem(2);
                font-size: toRem(12);
                color: var(--grey-300);
            }

            .close {
                cursor: pointer;
                svg {
                    pointer-events: none;
                }
            }

            & + .modal-body {
                padding: toRem(16) toRem(24);
            }
        }

        &-body {
            padding: toRem(24);

        
        &:not(.active) {
            display: none;
        }


            .alert {
                padding: toRem(12) toRem(16);
                border: solid toRem(1) var(--grey-100);
                border-radius: var(--radius-medium);
                font-size: toRem(12);
                color: var(--grey-500);
                text-align: center;
            }

            .export_form-list {
                margin-top: toRem(16);
            }

            .fieldset {
                display: flex;
                gap: toRem(8);
                
                > * {
                    flex: auto;
                }
            }

            .progress {
                &-label {
                    display: flex;
                    gap: toRem(12);
                    color: var(--grey-400);

                    .title {
                        flex: auto;
                        font-family: var(--font-medium);
                    }

                    .count {
                        text-align: right;
                    }
                }
                
                &-bar {
                    position: relative;
                    height: toRem(4);
                    margin-top: toRem(16);
                    background: var(--grey-100);

                    .current {
                        position: absolute;
                        inset: 0 auto 0 0;
                        width: 50%;
                        background: var(--grey-300);
                    }
                }
            }

            .actions {
                display: flex;
                gap: toRem(8);
                margin-top: toRem(24);

                .button {
                    flex: auto;
                }
            }
        }
    
    &-backdrop {
        position: absolute;
        inset: 0;
        z-index: 1;
        backdrop-filter: blur(toRem(10));
    }
}