.panel {
    // display: none;
    position: absolute;
    width: 75%;
    z-index: var(--z-panels);
    min-width: toRem(284);
    max-width: toRem(384);
    background: var(--white);
    border: solid toRem(1) var(--grey-300);
    border-radius: var(--radius-medium);
    box-shadow: var(--elevation-small);

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(2);
        cursor: grab;

        .title {
            flex: auto;
            padding: toRem(2);
            font-size: toRem(12);
            color: var(--grey-300);
        }
    }

    &-body {
        padding: toRem(12);
    }

        &-block {
            padding-bottom: toRem(24);
            
            & + & {
                padding-bottom: 0;
            }

            > .title {
                padding: toRem(4);
                font-size: toRem(12);
                font-weight: 500;
                color: var(--grey-300);
            }
        }
}