.panel {
    // display: none;
    position: absolute;
    width: 75%;
    z-index: var(--z-panels);
    min-width: toRem(284);
    max-width: toRem(384);
    background: var(--white);
    border: solid toRem(1) var(--grey-300);
    border-radius: var(--radius-medium);
    box-shadow: var(--elevation-small);

    &:not(.active) {
        display: none;
    }

    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(2);
        cursor: grab;

        .drag {
            pointer-events: none;
        }

        .title {
            flex: auto;
            padding: toRem(2);
            font-size: toRem(12);
            color: var(--grey-300);
        }

        .close {
            cursor: pointer;
            svg {
                pointer-events: none;
            }
        }
    }

    &-body {
        padding: toRem(12);
        box-sizing: border-box;

        &.drop {
            position: relative;
            background: var(--grey-100);
        
            &:after {
                content: '';
                position: absolute;
                inset: toRem(4);
                border: dotted toRem(2) var(--grey-300);
            }
        }
    }

        &-block {
            padding-bottom: toRem(24);
            
            & + & {
                padding-bottom: 0;
            }

            > .title {
                padding: toRem(4);
                font-size: toRem(12);
                font-weight: 500;
                color: var(--grey-300);
            }
        }

        &-color {
            .button_color {
                display: none;
                flex-wrap: nowrap;
                align-items: center;
                gap: toRem(8);
                padding: toRem(6);
                border-radius: var(--radius-small);
            
                &:hover {
                    background: var(--grey-100);
                }
            
                --bg-color: transparent;
            
                background-color: var(--bg-color);
            
                input[type=color] {
                    appearance: none;
                    width: toRem(40);
                    height: toRem(40);
                    padding: 0;
                    border: solid toRem(1) var(--grey-500);
                    border-radius: var(--radius-small);
                }
            
                .label {
                    flex: auto;
                }
            
                    .title {
                        display: block;
                        font-size: toRem(12);
                        font-weight: 500;
                    }
            
                    .value {
                        display: block;
                        font-size: toRem(12);
                    }
            }
        
        &.active {
            .button {
                display: none;
            }
            
            .button_color {
                display: flex;
            }
        }
        }
}