.card_connect {
    display: flex;

    .string {
        flex: 1;
        display: flex;
        justify-content: center;
    
        &::before {
            content: '';
            display: block;
            width: toRem(1);
            height: toRem(24);
            background: var(--grey-200);
        }
    }
}

.card_container {
    display: flex;
    flex-direction: row;
    gap: 1px;
    padding: 1px;
    background: var(--grey-300);
}

    .pattern_composer {
        flex: 1;
        background: var(--white);

        transition: transform 100ms ease-out;

        &.hidden {
            visibility: hidden;
        }

        &.dragger {
            position: absolute;
            box-shadow: 0 0 1px 4px rgba(0, 0, 0, .5);
            z-index: 1000;
        }

        &-head {
            height: toRem(24);
            padding: toRem(2);
            cursor: grab;
            
            .icon {
                width: toRem(20);
                height:  toRem(20);
                fill: var(--grey-300);
            }

            .drag {
                pointer-events: none;
            }
        }


        &-body {
            padding: toRem(4);
            
            .tile {
                aspect-ratio: 1;
                background: var(--white);
                border-radius: toRem(2);
                border: solid toRem(1) var(--grey-500);
            }
        }

        &-foot {
            padding: toRem(2) toRem(4);
            
            .name {
                text-align: center;
                font-size: toRem(14);
            }
        }

        &:hover {
            box-shadow: 0 0 0 toRem(1) var(--black);
            z-index: 2;
        }
    }

    .pattern_card {
        .tile {
            
        }
    }