.snackbar {
    position: absolute;
    inset: var(--size-24) var(--size-24) auto var(--size-24);
    z-index: var(--z-snackbars);
    display: none; // flex;
    gap: var(--size-12);
    max-width: 400px;
    padding: var(--size-16) var(--size-24) var(--size-16) var(--size-16);
    background: var(--grey-600);
    border-radius: var(--radius-medium);

    .icon_wrap {
        flex: none;
        display: flex;
        width: var(--size-32);
        height: var(--size-32);
        justify-content: center;
        align-items: center;
    }

        .icon {
            width: var(--size-24);
            height: var(--size-24);
            fill: var(--color-orange);
        }

    .message {
        flex: auto;
        font-size: var(--size-14);
        font-weight: 500;
        line-height: var(--size-20);
        color: var(--grey-200);
    }
}