.snackbar {
    position: absolute;
    inset: toRem(24) toRem(24) auto toRem(24);
    z-index: var(--z-snackbars);
    display: flex;
    gap: toRem(12);
    max-width: toRem(400);
    padding: toRem(16) toRem(24) toRem(16) toRem(16);
    background: var(--grey-600);
    border-radius: var(--radius-medium);

    .icon_wrap {
        flex: none;
        display: flex;
        width: toRem(32);
        height: toRem(32);
        justify-content: center;
        align-items: center;
    }

        .icon {
            width: toRem(24);
            height: toRem(24);
            fill: var(--orange);
        }

    .message {
        flex: auto;
        font-family: var(--font-medium);
        font-size: toRem(14);
        line-height: toRem(20);
        color: var(--grey-200);
    }
}