.video_controls {
    display: flex;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    flex-wrap: nowrap;
    gap: toRem(16);

    .button_icon {
        cursor: pointer;

        .icon {
            &:nth-child(2) {
                display: none;
            }
        }
        
        &.playing {
            .icon {
            &:nth-child(2) {
                display: block;
            }
            &:nth-child(1) {
                display: none;
            }
            }
        }
    }
    
    .actions {
        flex: 0 0 64px;
        display: flex;
        flex-direction: column;
        gap: toRem(8);
    }

        .time {
            display: flex;
            flex-direction: column;
            gap: toRem(4);
            padding: 4px 0;
            font-size: toRem(12);
            font-weight: 500;
            font-variant-numeric: tabular-nums; 
            color: var(--grey-300);
            
            .current {
                color: var(--grey-400);
            }
        }

    .timeline {
        flex: auto;
        display: flex;
        flex-direction: column;
        gap: toRem(8);
    }
        
        .progress {
            display: flex;
            align-items: center;
            height: toRem(40);  

            &-bar {
                position: relative;
                width: 100%;
                height: toRem(2);
                background: var(--grey-200);
                transition: all .3s ease;

                .current {
                    position: absolute;
                    inset: 0 auto 0 0;
                    background: var(--grey-300);
                }
            }

            &-knot {
                position: absolute;
                inset: 0 0 0 auto;
                width: toRem(12);
                height: toRem(12);
                border-radius: toRem(12);
                transform: translateY(-50%);
                color: var(--grey-300);
                background: currentColor;
                border: solid toRem(1) currentColor;
                cursor: grab;
                transition: all .3s ease;          

                &.grabbing {
                    cursor: grabbing;
                }
            }
        
            &:hover {
                
                .progress-bar {
                    height: toRem(4);
                }

                .progress-knot {
                    width: toRem(24);
                    height: toRem(24);
                    border-radius: toRem(24);
                    color: var(--grey-400);
                    background: var(--white);
                }
            }
        }

        .trim {
            position: relative;
            background: var(--grey-200);
            height: toRem(32);
            margin: toRem(4) 0;
            
            &-bar {
                position: absolute;
                top: 0;
                bottom: 0;
                background-image: linear-gradient(135deg, var(--grey-200) 25%, var(--grey-300) 25%, var(--grey-300) 50%, var(--grey-200) 50%, var(--grey-200) 75%, var(--grey-300) 75%, var(--grey-300) 100%);
                background-size: toRem(16) toRem(16);
            }

            &-knot {
                position: absolute;
                top: -(toRem(4));
                width: toRem(16);
                bottom: -(toRem(4));
                background: var(--white);
                border: solid toRem(2) var(--white);
                border-radius: toRem(4);
                box-shadow: 0 0 0 toRem(1) var(--grey-500);
                cursor: grab;

                &.grabbing {
                    cursor: grabbing;
                }
            }
        }
}