<div class="form_block">
    <div class="form_block-head">
    <h2 class="label">
        <span class="title">Input</span>
        <span class="detail">Photo or Video</span>
    </h2>
    </div>
    
    <div class="form_block-body">
    {{ InputFiles.inputFile("input_file") }}
    <p class="warning">Upload a JPG/PNG/SVG image or WebP/MP4 video</p>
    </div>
</div>