<label class="form_block">
    <div class="form_block-head">
    <h2 class="label">
        <span class="title">Tiles</span>
    </h2>
    <span class="num">150</span>
    </div>
    
    <div class="form_block-body">
    <div class="input_tiles">
        <div class="track">
            <div class="knot" draggable style="left: 10%"></div>
        </div>
        <div class="legend">
            <span class="min">10</span>
            <span class="max">300</span>
        </div>
    </div>
    </div>
</label>