<label class="form_block">
    <div class="form_block-head">
    <h2 class="label">
        <span class="title">Size</span>
    </h2>
    {# <span class="num">150</span> #}
    {{ ButtonIcons.buttonIcon("button_icon medium tertiary _undo", "undo") }}
    </div>
    
    <div class="form_block-body">
        <ul class="inputs-list">
            <li class="inputs-item expand">
                <label for="" class="inputs-label">
                    {{ Icons.icon("aspect_ratio") }}
                    <div class="input_text primary medium">
                        <select name="" id="">
                            <option value="">1:1</option>
                        </select>
                    </div>
                </label>
            </li>
            
            <li class="inputs-item">
                <label for="" class="inputs-label">
                    {{ Icons.icon("width") }}
                    <div class="input_text primary medium">
                        <input id="width" type="number" value="540">
                    </div>
                </label>
            </li>

            <li class="inputs-item">
                <label for="" class="inputs-label">
                    {{ Icons.icon("height") }}
                    <div class="input_text primary medium">
                        <input id="height" type="number" value="540">
                    </div>
                </label>
            </li>
        </ul>

        <div class="inputs-feedback">
            <p class="label">Original size: 1280x756</p>
            {{ Buttons.standardButton("Restore", "button tertiary small") }}
        </div>
    </div>

    <div class="form_block-foot">
        {{ Buttons.standardButton("Cancel", "button tertiary medium _cancel") }}
        {{ Buttons.standardButton("Apply", "button primary medium _apply") }}
    </div>
</label>