<div class="video_controls">
    {{ ButtonIcons.buttonIcon("button_icon secondary large", "play") }}

    <div class="timeline">
        <div class="progress">
            <div class="progress-bar">
                <div class="current" style="width: 50%">
                    <button class="progress-knot"></button>
                </div>
            </div>
        </div>
        <div class="trim">
            <div class="trim-bar">
                <div class="selected" style="width: 50%"></div>
            </div>
            <div class="inputs">
                <label for="trim_start">
                    <span class="label">Start</span>
                    <div class="input_text secondary medium">
                        <input type="text" placeholder="0:00:00" id="trim_start">
                    </div>
                </label>

                <label for="trim_end">
                    <span class="label">End</span>
                    <div class="input_text secondary medium">
                        <input type="text" placeholder="0:00:00" id="trim_end">
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>