<div class="video_controls">
    <div class="actions">
        <button class="button_icon secondary large play">
            {{ Icons.icon("play") }}
            {{ Icons.icon("pause") }}
        </button>

        <div class="time">
            <span class="current">0:10:00</span>
            <span class="total">0:10:00</span>
        </div>
    </div>

    <div class="timeline">
        <div class="progress">
            <div class="progress-bar">
                <div class="current" style="width: 50%">
                    <button class="progress-knot"></button>
                </div>
            </div>
        </div>
        <div class="trim">
            <div class="trim-bar" style="left: 20%; right: 20%"></div>
            <div class="trim-knot left" style="left: 20%"></div>
            <div class="trim-knot right" style="left: 80%"></div>
        </div>
    </div>
</div>