---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ settings.title }}"
  description: "{{ settings.description }}"

---

{% import '../components/icons.njk' as Icons with context %}
{% import '../components/buttons.njk' as Buttons with context %}
{% import '../components/buttonicons.njk' as ButtonIcons with context %}
{% import '../components/input-files.njk' as InputFiles with context %}
{% import '../components/color-cards.njk' as ColorCards with context %}
{% import '../components/pattern-cards.njk' as PatternCards with context %}
{% import '../components/pattern-thumb.njk' as PatternThumbs with context %}
{% import '../components/panels.njk' as Panels with context %}
{% import '../components/snackbars.njk' as Snackbars with context %}
{% import '../components/modals.njk' as Modals with context %}


<main>
  {% include 'control.njk' %}
  
  {% include 'canvas.njk' %}

  {{ Panels.panel("color", true) }}

  {{ Panels.panel("pattern", true) }}

  {{ Snackbars.snackbar("Unsupported file format. Please try again with a valid file extension.", false) }}  

  {{ Modals.modal('export') }}

  {{ Modals.modal('progress') }}
  
</main>