---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ toolkit.seo.seo_title }}"
  description: "{{ toolkit.seo.seo_description }}"

---
{# ---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ tookit.title }}"
  description: "{{ landing.seo.description }}"
  image: "{{ landing.seo.seo_image }}"
--- #}

