---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ settings.title }}"
  description: "{{ settings.description }}"

---
{# ---
layout: base
pageTemplate: landing
eleventyComputed:
  title: "{{ tookit.title }}"
  description: "{{ landing.seo.description }}"
  image: "{{ landing.seo.seo_image }}"
--- #}

