/* mixins.scss */

// ------------------------------ Breakpoints
/* Bg images aspect ratio */
/* @include aspect-ratio(4,3); */
@mixin aspect-ratio($width, $height) {
	position: relative;

	&:before {
		display: block;
		content: '';
		width: 100%;
		padding-top: calc(#{$height} / #{$width} * #{100%});
	}
}


@mixin item {
	width: 100%;
	min-height: 2rem;
	padding: var(--padding);
	text-align: left;
	background-color: var(--section-bg-1);
	border-radius: var(--radius-0);
	display: flex;
	align-items: center;
	cursor: pointer;
}

@function toRem($value) {
    $remValue: calc($value / 16) + rem; 
    @return $remValue;
}

@mixin chess_pattern {
	background-image: 
		linear-gradient(45deg, var(--grey-200) 25%, transparent 25%), 
		linear-gradient(-45deg, var(--grey-200) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--grey-200) 75%),
		linear-gradient(-45deg, transparent 75%, var(--grey-200) 75%);
	background-size: 8px 8px; /* Adjust the size of squares */
	background-position: 0 0, 0 4px, 4px -4px, -4px 0;
}