:root {
    // UI Colors
    --white: #FFFFFF;
    --black: #000000;
    --grey-100: #EAEAEA;
    --grey-200: #D7D7D7;
    --grey-300: #898989;
    --grey-400: #606060;
    --grey-500: #414141;
    --grey-600: #272727;

    --white-a20: rgba(255, 255, 255, .2);
    --black-a20: rgba(0, 0, 0, .2);
    --black-a12: rgba(0, 0, 0, .12);

    --orange: #FF5C21;

    // Fonts
    --font-text: FK Grotesk Trial, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-display: Clarendon Graphic, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

    // Border Radius
    --radius-small: toRem(2);
    --radius-medium: toRem(4);

    // Elevations
    --elevation-small: 0 toRem(1) toRem(2) var(--black-a12);

    --z-snackbars: 6;
    --z-panels: 5;
    --z-loading: 4;
    --z-dropzone: 3;
}

  