// Partials
@import './partials/reset';
@import './partials/mixins';
@import './partials/variables';
@import './partials/fonts';

// Components
@import './components/buttons';
@import './components/forms';
@import './components/panel';
@import './components/panel_library';
@import './components/input_text';
@import './components/input_file';
@import './components/pattern_cards';
@import './components/input_threshold';
@import './components/input_tiles';
@import './components/dropzone';
@import './components/video_controls';
@import './components/snackbar';


html,
body {
    height: 100%;
    overflow: auto;
}

body {
    background: var(--white);
}

main {
    display: flex;
    height: 100%;
    min-width: 768px;
}

.control_panel {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 384px;
    height: 100%;
}

    .layer {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        background: var(--white);
        overflow: auto;
    
    &.hidden {
        display: none;
    }
    }

    .menu {
        flex: auto;
        padding-top: toRem(64);
    }

.brand {
    padding: toRem(24);
}

.canvas {
    flex: auto;
    position: relative;
    overflow: hidden;
    background: var(--grey-100);
}

    .toolbar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: toRem(8);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        
        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }

        &-block {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            gap: 8px;
            padding: toRem(24);

            &.video {
                border-top: solid 1px var(--grey-200);
                border-bottom: solid 1px var(--grey-200);
            }
        }
    }

    .gl {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        canvas {
            width: 100%;
            height: 100%;
        }
    }