{% macro standardButton(label, className, icon) %}
<button class="{{ className }}">
    {% if icon %}
        {# {% include "../../assets/icons/{{ icon | safe }}.svg" %}  #}
    {% endif %}
    
    <span class="label">{{ label }} {{ icon }}</span>
</button>
{% endmacro %}