{% macro colorCard(className, name, value) %}
<div class="pattern_composer {{className}}" draggable="true">
    <header class="pattern_composer-head">
        {{ ButtonIcons.buttonIcon("button_icon ghost small drag", "drag_indicator") }}
    </header>
    <div class="pattern_composer-body">
        <div class="tile" style="background-color: {{ value }}" card-value="{{ name }}"></div>
    </div>
    <div class="pattern_composer-foot">
        <h3 class="name">{{ name }}</h3>
    </div>
</div>
{% endmacro %}