{% macro inputFile(name, noVideo=false) %}
<div class="input_file">
    {% if noVideo %}
    <input type="file" id="{{ name }}" accept="image/jpeg, image/png, image/webp, image/svg+xml">
    {% else %}
    <input type="file" id="{{ name }}" accept="image/jpeg, image/png, image/webp, image/svg+xml, video/mp4, video/webm">
    {% endif %}
    <label for="{{ name }}">
        <span class="button small tertiary">
            <span class="text">Choose file</span>
        </span>

        <span class="label">file.jpg</span>
    </label>
</div>
{% if noVideo %}
<p class="input_file-warning">Upload a JPG/PNG/WebP/SVG image.</p>
{% else %}
<p class="input_file-warning">Upload a JPG/PNG/WebP/SVG image or WebM/MP4 video</p>
{% endif %}
{% endmacro %}