{% macro inputFile(className) %}
<div class="{{className}}">
    <input type="file" id="{{className}}">
    <label for="{{className}}">
        <span class="button small tertiary">Choose file</span>
    </label>
</div>
{% endmacro %}