{% macro modal() %}
<section class="modal">
    <div class="modal-card">
        {# <header class="modal-head">
            <span class="title">{{ variant | capitalize}}</span>
            {{ ButtonIcons.buttonIcon("button_icon ghost medium close", "close") }}    
        </header> #}

        
        <div class="modal-body active">
            <div class="alert">Canvas size: 1024x1024</div>
            <div class="fieldset">
                <div class="input_text select medium">
                    <select name="" id="fileFormat">
                        <option value="svg" hidden>SVG</option>
                        <option value="png" selected>PNG</option>
                        <option value="webm" hidden>WebM</option>
                        <option value="mp4" hidden>MP4</option>
                    </select>
                </div>
                    
                <div class="input_text select medium">
                    <select name="" id="exportSize">
                        <option value="0.5">0.5x</option>
                        <option value="0.75">0.75x</option>
                        <option value="1" selected>1x</option>
                        <option value="1.5">1.5x</option>
                        <option value="2">2x</option>
                        <option value="3">3x</option>
                        <option value="4">4x</option>
                    </select>
                </div>
            </div>
            <div class="actions">
                {{ Buttons.standardButton("Cancel", "button tertiary large") }}
                {{ Buttons.standardButton("Export", "button primary large") }}
            </div>
        </div>

        
        <div class="modal-body">
            <div class="progress-label">
                <span class="title">Exporting video</span>
                <span class="count"></span>
            </div>
            <div class="progress-bar">
                <div class="current"></div>
            </div>

            <div class="actions">
                {{ Buttons.standardButton("Cancel", "button tertiary small") }}
            </div>
        </div>
        
    </div>
    <div class="modal-backdrop"></div>
</section>
{% endmacro %}
