{% macro modal() %}
<section class="modal active">
    <div class="modal-card">
        {# <header class="modal-head">
            <span class="title">{{ variant | capitalize}}</span>
            {{ ButtonIcons.buttonIcon("button_icon ghost medium close", "close") }}    
        </header> #}

        
        <div class="modal-body active">
            <div class="alert">Canvas size: 1024x1024</div>
            <div class="fieldset">
                <div class="input_text select medium">
                    <select name="" id="">
                        <option value="">SVG</option>
                        <option value="">PNG</option>
                    </select>
                </div>
                    
                <div class="input_text select medium">
                    <select name="" id="">
                        <option value="">0.5x</option>
                        <option value="">0.75x</option>
                        <option value="">1x</option>
                        <option value="">1.5x</option>
                        <option value="">2x</option>
                        <option value="">3x</option>
                        <option value="">4x</option>
                    </select>
                </div>
            </div>
            <div class="actions">
                {{ Buttons.standardButton("Cancel", "button tertiary large") }}
                {{ Buttons.standardButton("Export", "button primary large") }}
            </div>
        </div>

        
        <div class="modal-body active">
            <div class="progress-label">
                <span class="title">Exporting frames</span>
                <span class="count">23400/53400</span>
            </div>
            <div class="progress-bar">
                <div class="current"></div>
            </div>

            <div class="actions">
                {{ Buttons.standardButton("Cancel", "button tertiary small") }}
            </div>
        </div>
        
    </div>
    <div class="modal-backdrop"></div>
</section>
{% endmacro %}
