<div class="panel-block">
    {{ InputFiles.inputFile("pattern_file", true) }}
</div>

<div class="panel-block panel_library">
    <h3 class="title">Library</h3>

    {% set pattern_preset = [
        { id: 1},
        { id: 2},
        { id: 3},
        { id: 4},
        { id: 5},
        { id: 6},
        { id: 7},
        { id: 8},
        { id: 9},
        { id: 10}
    ] %}

    <fieldset class="pattern_preset" id="pattern">
        <ul class="pattern_preset-list">
            {% for pattern in pattern_preset %}
            <li class="pattern_preset-item">
                <label for="pattern_{{ pattern.id }}" class="pattern_preset-label">
                    <input type="radio" id="pattern_{{ pattern.id }}" name="pattern" value="{{ pattern.id }}">
                    <span class="label">
                        <span class="tile">
                            {{ PatternThumbs.patternThumb(pattern.id) }}
                        </span>
                    </span>
                </label>
            </li>
            {% endfor %}
        </ul>
    </fieldset>
</div>