{% macro panel(variant, visible) %}
{% if visible %}
<section class="panel" style="top: 30%; left: 30%">
    <header class="panel-head">
        {{ ButtonIcons.buttonIcon("button_icon ghost medium drag", "drag_indicator") }}
        <span class="title">{{ variant | capitalize}}</span>
        {{ ButtonIcons.buttonIcon("button_icon ghost medium close", "close") }}
    </header>
    
    <div class="panel-body">
        {% if variant === "color" %}
            {% include "../components/panel-colors.njk" %}
        
        {% elseif variant === "pattern" %}
            {% include "../components/panel-patterns.njk" %}
        {% endif %}    
    </div>
</section>  
{% endif %}
{% endmacro %}