{% macro snackbar(message, visible) %}
{% if visible %}
<div class="snackbar">
    <div class="icon_wrap">
        {{ Icons.icon("warning")}}
    </div>
    
    <p class="message">
        {{ message }}
    </p>
</div>
{% endif %}
{% endmacro %}