<!DOCTYPE html>
<html lang="en">

	{% include 'head.njk' %}

	<body>

		<div class="gl"></div>

		<div class="ui">
			<div class="logo"></div>
			<div class="menu"></div>
		</div>

		{# <div class="site__wrapper">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</div> #}

		<script src="bundle/main.js"></script>
	</body>
</html>